* {
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #FFA500;
    color: #ffffff;
    padding: 15px;
  }
  .row {
    margin-right:-15px;
    margin-left:-15px;
  }
  .col-sm-4 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    width:25%
  }
